<body class="bg-black">

    <div class="title">
        <h1 class="w-screen flex justify-center items-center text-7xl text-white"> Creating inovation For Everyday people</h1>
    </div>

    <div class="card-container h-screen">
        <div class="card">
            <div class="image">
            <%= image_tag('eduimg.jpg') %>
            </div>
            <div class="details">
            <div class="center">
                <h1>Education</h1>
                <p>Graudated from Augusta Technical College with a Associates in Cyber Security.</p>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="image">
            <%= image_tag('me.jpg') %>
            </div>
            <div class="details">
            <div class="center">
                <h1>Projects</h1>
                <p>Graudated from Augusta Technical College with a Associates in Cyber Security</p>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="image">
            <%= image_tag('eduimg.jpg') %>
            </div>
            <div class="details">
            <div class="center">
                <h1>Education</h1>
                <p>Graudated from Augusta Technical College with a Associates in Cyber Security</p>
            </div>
            </div>
        </div>
    </div>
    
</body>